<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <p>The current time is {{ current_time }}</p>

    <div>
        <h2>Short answers to each of the following questions:</h2>
        <ol>
            <li>
                What is a client? A client is a piece of computer hardware or software that accesses a service made available by a server.
            </li>
            <li>
                What is a server? A server is a computer program or a device that provides functionality for other programs or devices, called "clients".

            </li>
            <li>
                What is an HTTP request? An HTTP request is a request message sent from the client to the server. 
            </li>
            <li>
                What is Django and why do we use it? Django is a Python-based free and open-source web framework, which follows the model-template-view (MTV) architectural pattern. We use it to ease the creation of complex, database-driven websites.
            </li>
        </ol>


    </div>
</body>
</html>